.opisanie{
    display: block;
    font-family: Play;
    font-size: 50px;
    background-color: azure;
    padding: 200px;
    border-radius: 50px;
    text-align: center;
    margin: 0px;
}
.text{
    color: #0A007C;
    text-align: left;
    display: inline-block;
    padding: auto;
}
.Prof{
    padding: 40px;
}
.Game{
    padding: 40px;
}
.money{
    padding: 40px;
}
.keyboard{
    display: inline-block;
    width: 400px;
    height: 300px;
    padding-left: 200px;
    padding-right: 200px;
    margin: auto;
}

